body{
    background:white;
}

.btn-floating{
    position:fixed;
    left:25px;
    overflow:hidden;
    width:50px;
    height:50px;
    border-radius:100px;
    border:0;
    z-index:9999;
    color:white;
    transition:.2s;
}

.btn-floating:hover{
    width:auto;
    padding:0 20px;
    cursor:pointer;
}

.btn-floating span{
    font-size:16px;
    margin-left:5px;
    transition:.2s;
    line-height:0px;
    display:none;
}

.btn-floating:hover span{
    display:inline-block;
}

.btn-floating:hover img{
    margin-bottom:2px;
    margin-right:5px;
    width:20px;
}

.btn-floating.whatsapp{
    bottom:25px;
    background-color:#34af23;
    border:2px solid #fff;
}

.btn-floating.whatsapp:hover{
    background-color:#1f7a12;
}

.btn-floating.instagram{
    bottom:85px;
    background-color:#8a3ab9;
    border:2px solid #fff;
}

.btn-floating.instagram:hover{
    background-color:#8a3ab9;
}